.App {
  text-align: center;
}

a {
  text-align: right;
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

body {
  width: 960px;
  margin: 25px auto;
}

h2 {
  font-size: 42px;
}

button {
  font-size: 20px;
  border-radius: 8px;
}