h2 {
    margin-bottom: 20px;
}

.links-nav {
    margin: 0 auto;
}


.links-bar {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links-li {
    margin-left: 20px;
}

a:hover {
    color: #c83137;
  }