form {
    width: 40%;
    margin: 0 auto;
}

label {
    display: block;
}

.submit-signup {
    margin-top: 20px;
}

fieldset {
    border: none;
}

.sign-up {
    position:relative;
    vertical-align: middle;
    color: #ffffff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: 0.5s;
    padding: 0 20px;
    cursor: pointer;
    transition:0.5s;
    background-color: #124e78;   
    width: 305px;
    }
    
    .sign-up:hover {
        color: #FFF;
        background-color: #dda534
    }