form {
    width: 40%;
    margin: 0 auto;
}

label {
    display: block;
}

input {
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    font-size: 20px;
    width: 60%;
    border: solid 1px gray;
    border-radius: 8px;
}

.submit-signup {
    margin-top: 20px;
}