.edit-sub {
  position:relative;
  vertical-align: middle;
  color: #ffffff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  transition:0.5s;
  background-color: #124e78;
  width: 300px 
}

.edit-sub:hover {
    color: #FFF;
    background-color: #dda534
  }

.sub-edit {
    background-color: #facd78;
    border: 3px solid rgb(242, 179, 5);
    border-right-width: 10px;
    border-bottom-width: 10px;
    padding: 30px 40px;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto
}

.sub-category-field, 
.sub-price-frequency {
    width: 305px;
    display: block;
    margin: 0 auto
}

.label {
    margin-top: 5px;
    margin-bottom: 0

}

.x-out {
    position: flex;
    justify-content: flex-end;
    font-size: 2em;
    margin: 0
}