.sub-form {
    text-align: center;
}

/* #subfrequency {
    width: 150px;
} */

.select {
    display: block;
    margin: 0 auto
}

.add-button {
    margin: 0 auto;
    color: #ffffff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #124e78;
    width: 305px;
}

.sub-form {
    background-color: #facd78;
    border: 3px solid rgb(242, 179, 5);
    border-right-width: 10px;
    border-bottom-width: 10px;
    padding: 30px 40px;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto
}

.sub-checkbox-field{
    text-align: center;
}