
.edit-sub {
  position:relative;
  vertical-align: middle;
  color: #ffffff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  transition:0.5s;
  background-color: #124e78;   
  width: 305px;
}
  
  .edit-sub:hover {
    color: #FFF;
    background-color: #dda534
  }

.sub-edit {
    text-align: left;
}

.sub-edit > input {
    position: relative;
    left: 80px;
    top: -22px;
    width: 150px;
}

.sub-edit > select {
    position: relative;
    left: 80px;
    top: -22px;
    width: 150px;
}


.sub-edit-container > .x-out {
    position: absolute;
    right: 35%;
    top: 188px;
}

#subscriptionName {
    position: static;
    height: 40px;
    font-size: 32px;
    width: 280px;
}

#price {
    width: 80px;
}

.sub-frequency-field {
    width: 150px;
}