.sub-form {
    text-align: left;
    padding-left: 120px;
}

/* #subfrequency {
    width: 150px;
} */

.add-button {
    margin-left: 60px;
    color: #ffffff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #124e78;
}