.sub-table {
    width: 575px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
}

.sub-box {
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 5px;
    width: 175px; 
    height: 40px;
    vertical-align: middle;
    padding: 10px 0; 
    margin-bottom: 10px;
    color: #ffffff;
    border: 3px solid white;
    background-color: #e9b64f;
}

.sub-text {
    font-size: 20px;
}

.sub-button {
    position: relative;
    top: 25%;
    bottom: 25%;
}

.category-music {
    background-color: #c83137;
    transition: all 0.3s ease;
}

.category-entertainment {
    background-color: #124e78;
    transition: all 0.3s ease;
}

.category-work {
    background-color: #499176;
    transition: all 0.3s ease;  
}

.category-lifestyle {
    background-color: #87c38f;
    transition: all 0.3s ease;    
}

.category-other {
    background-color: rgb(214, 120, 103);
    transition: all 0.3s ease;    
}

.category-music:hover,
.category-entertainment:hover,
.category-work:hover,
.category-lifestyle:hover,
.category-other:hover {
    background-color: #e9b64f;
    cursor: pointer;
    transition: all 0.3s ease;
}
    