.category-div > h4 {
    margin-top: 20px;
}

.summary-contents {
    margin: 0 auto;
    width: 60%;
    text-align: left;
}

.sub-name {
    font-weight: bold;
}

.bigger {
    font-size: 20px;
    display: absolute;
    left:0
    /* justify-content: flex-start; */
}

.x-out {
    text-align: right;
}

.sub-name,
.sub-price {
    font-size: 0.9em
}

.summary-container {
    margin: 0 auto;
    background-color: #facd78;
    border: 3px solid rgb(242, 179, 5);
    border-right-width: 10px;
    border-bottom-width: 10px;
    padding: 30px 40px;
    width: 70%;
    border-radius: 10px
    
}

.summary-breakdown {
    text-align: center;
    background: rgb(223, 65, 73);
    color: white;    
    font-family: 'Roboto';
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin: 0 auto 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.summary-contents {
    width: 500px;
    margin: 0 auto
}

.category-container {
    list-style-type: none;
    
}

.category-li {
    padding: 5px;
    color: #ffffff;
    border: 3px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    border-radius: 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

.sub-li {
    align-self: center;
}

        .music-li {
            background-color: #c83137;
        }

        .entertainment-li {
            background-color: #124e78;
        }

        .lifestyle-li {
            background-color: #87c38f;
        }

        .work-li {
            background-color: #499176;
        }

        .other-li {
            background-color: rgb(214, 120, 103);
        }

.category-ul {
    list-style-type: none;
    align-self: center;

}

.sub-li {
    margin: 10px 0 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.summary-total{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 470px;
    height: 60px;
    border-radius: 40px;
    color: #c83137;
    font-size: 1.2em;
    background-color: #f8ab10;
    transition: all 0.3s ease; 
    margin: 0 auto
}

.category-total {
    padding-top: 10px;
}

        .music-total {
            color: #6e0308;
        }

        .entertainment-total {
            color: #051d2e;
        }

        .lifestyle-total {
            color: #447a4b;
        }

        .work-total {
            color: #226149;
        }

        .other-total {
            color: rgb(177, 48, 26);
        }
